.search-container {
  display: flex;
  flex-direction: column;
}

.git-search-container {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #e6f7ff;
}

.git-search-container h1 {
  font-size: 22px;
  margin-bottom: 12px;
}

.form-container {
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 22px;
}

.search-input {
  color: #5c5858;
  width: 298px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
}

.search-button {
  width: 101px;
  height: 40px;
  color: #ffffff;
}

.resultcard-container {
  height: 334px;
  border-radius: 8px;
  margin: 0px 40px;
}

.result-title {
  margin-left: 0x;
}

.perfil-text {
  width: 534px;
  height: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #1890ff;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.information-section {
  display: flex;
  justify-items: center;
  width: 1150px;
  height: 330px;
  background: #f5f5f5;
  border-radius: 8px;
}

.result-section {
  background: #ffffff;
  width: 902px;
  height: 247px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin: 40px 40px 40px 208px;
}

@media (min-width: 576px) {
  .search-container {
    justify-items: center;
    padding: 20px 25px;
  }

  .git-search-container {
    width: 520px;
  }
}

@media (min-width: 768px) {
  .search-container {
    justify-items: center;
    padding: 20px 25px;
  }

  .git-search-container {
    width: 710px;
    height: 240px;
    padding: 30px;
  }

  .git-search-container h1 {
    font-size: 28px;
    margin-bottom: 18px;
  }

  .form-container {
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .search-input {
    width: 320px;
  }
}

@media (min-width: 1200px) {
  .git-search-container {
    width: 1150px;
    height: 270px;
    padding: 50px;
    margin: 20px 40px;
  }

  .git-search-container h1 {
    font-size: 38px;
  }

  .form-container {
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .search-input {
    width: 278px;
    height: 28px;
    font-size: 16px;
    padding: 5px;
  }

  button {
    width: 15%;
  }
}
